{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1 style="color:navy">안녕하세요!</h1>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Поля</title>
    <style type="text/css">
     .space { 
      padding: 20px; /* Поля */
      background: #d8bcfd; /* Цвет фона */
      border: 2px solid #320a78; /* Параметры рамки */
     }
    </style>
</head>
<br>
<h4>Здравствуйте! Приглашаем Вас поучаствовать в нашем небольшом исследовании о корейских именах и фамилиях.</h4>
<br>
<h4>
    <li>В анкете 22 вопроса, её прохождение займет 15-20 минут.</li> 
    <li>Это не проверка знаний, нам просто интересно, как люди воспринимают корейские имена.</li>
    <li>Поэтому отвечайте по наитию, не боясь ошибиться.</li>
</h4>
<br>
<h3>어서 오세요!</h3>


{% endblock %}